<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Get Value of Contract is: <%= getResult %> <br><br>
    Value Set in Contract is: <%= set %> <br><br>
    Transaction Receipt for Set Functionality is: <%= setResult %> <br><br>

    Goto Landing Page to play more with contract Link :- <a href="http://localhost:8080/user/dashboard">Landing Page</a>

</body>
</html>