<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Hello User welcome to landing page.

    <form action="/user/balance" method="post">
        <input type="submit" value="Balance"><br>
    </form><br><br>

    <form action="/user/get" method="post">
        <input type="submit" value="Get" name="get"><br>
    </form><br><br>

    <form action="/user/set" method="post">
        <input type="text" name="set"><br>
        <input type="submit" value="set"><br>
    </form><br><br>
</body>
</html>